<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'static/css/bootstrap.css' %}">
</head>
<body>
<div>
<div class="pagination pagination-centered"><ul class="pagination">
{% for p in paginator.page_range %}
    {% if p.number == page.number %}
        <li class="active">
    {% else %}
        <li>
    {% endif %}
        <a href="{{ paginator.baseurl }}{{ p }}">{{ p }}</a>
    </li>
    {% endfor %}
</ul></div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
    </div>
    <div class="span10">
        {% for p in page %}
            <p></p>
            <a href="/question/{{ p.id }}/"> {{ p.title }}</a>
        {% endfor %}
    </div>
  </div>
</div>
</div>
</body>
</html>